<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <% if @feed.errors.count == 1 %> 
        <h2>1 errore impedisce di salvare il feed:</h2>
      <% else %>
        <h2><%= @feed.errors.count %> errori impediscono di salvare il feed:</h2>
      <% end %>

      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Enter text for your feed:</h3>
    <%= f.text_area :feed_text, size: "50x4"%>
  </div><br>

  <div class="field">
    <h3>Enter a date (UTC timezone):</h3>
    <%= f.datetime_select :date %>
  </div><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
