<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Enter text for your feed:</h3>
    <%= f.text_area :feed_text, size: "50x4"%>
  </div><br>

  <div class="field">
    <h3>Enter a date (UTC timezone):</h3>
    <%= f.datetime_select :date %>
  </div><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
