<style>
    a:link 
    { 
      color: #A60000;
    }

    a:visited 
    { 
      color: #A60000;
    }
</style>

<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
   <div id="error_explanation">
      <% if @feed.errors.count == 1 %> 
        <h2>1 errore impedisce di salvare il feed:</h2>
      <% else %>
        <h2><%= @feed.errors.count %> errori impediscono di salvare il feed:</h2>
      <% end %>

      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_box">
    <%= f.text_area :feed_text, size: "60x5"%><br><br>
    Inserisci la data in cui verrà pubblicato (fuso orario UTC):<br><br>
    <%= f.datetime_select :date %><br><br>
    <%= f.submit "conferma"%>
  </div>
<% end %>


