<%= form_for(@feed) do |f| %>
     
<%= feed_error_messages! %>
      
<%= f.text_area :feed_text, class: "textBox", :onkeyup => 'textCounter(this);', :onclick => 'show_hide();', :placeholder => " Scrivi qui il testo del tuo feed" %>
<div id="charCounter" class="counterBox">124</div>
      
<div id="dateTimeBox">
  
  <p style="margin: 1% 0;">Inserisci la data di pubblicazione:</p>
  <%= f.datetime_select :date, :minute_step => 15 %>
  <br><br>
  <p style="margin: 1% 0;">Inserisci un'immagine:</p>
  <%= f.file_field :feed_image %>
  <br>
  <p>
    <input type="submit" value="Crea Feed" class="button"/>
  </p>
  
</div>
<% end %>
