<html>

  <title>Modifica feed</title>
 
  <style>
    a:link 
    { 
      color: #A60000;
    }

    a:visited 
    { 
      color: #A60000;
    }
  </style>

<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
   <div class="dialog">
      <% if @feed.errors.count == 1 %> 
        <h2>1 errore impedisce di salvare il feed:</h2>
      <% else %>
        <h2><%= @feed.errors.count %> errori impediscono di salvare il feed:</h2>
      <% end %>

      <% @feed.errors.full_messages.each do |msg| %>
      <%= msg %><br>
      <% end %>
      <br>
    </div>
  <% end %>

  <div class="sheet">
    <%= f.text_area :feed_text, size: "60x5"%><br><br>
    Inserisci la data in cui verrà pubblicato (fuso orario UTC):<br><br>
    <%= f.datetime_select :date %><br><br>
    <%= f.submit "conferma"%>
  </div>
<% end %>

</html>
