<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <% if @feed.errors.count == 1 %> 
        <h2>1 errore impedisce di salvare il feed:</h2>
      <% else %>
        <h2><%= @feed.errors.count %> errori impediscono di salvare il feed:</h2>
      <% end %>

      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
      <b>Inserisci qui il testo del tuo feed<br><br></b>
      <%= f.text_area :feed_text, size: "50x4"%>
    </p>
  </div><br>

  <div class="field">
    <p>
      <b>Inserisci la data in cui verrà pubblicato (fusorario UTC):<br><br></b>
      <%= f.datetime_select :date %>
    </p>
  </div><br>

  <div class="actions">
    <%= f.submit "conferma"%>
  </div>
<% end %>

