<!DOCTYPE html>
<html>

  <head>
    <title>Modifica feed</title>
  </head>
  
  <body>
  
    <div class="dialog">
      <div class="title">
        <h1><b>Modifica il tuo feed</b></h1>
      </div>
      
        <% if notice %>
          <p align="center"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p align="center"><%= alert %></p>
        <% end %>
        
      <%= render 'form' %>
		</div>

	  <div class="document">
      <div class="bubble">
  	    <%= link_to 'Mostra', @feed %> |
        <%= link_to 'Indietro', :back %>
      </div>
    </div>
    
  </body>
  
</html>
