<html>

<title>La Grande Guerra</title>

  <style>
    a:link 
    { 
      color: #A60000;
    }

    a:visited 
    { 
      color: #A60000;
    }
  </style>

  <div class="dialog">
    <h1><b>La Grande Guerra</b></h1>
  </div>
  
  <div class="sheet">
    <%= link_to 'Nuovo Feed', new_feed_path %>
  </div>
  
  <br>

  <body>
  <% @feeds.reverse_each do |feed| %>
    <div class="sheet">
      <% if feed.feed_image.present? %>
        <b>Immagine relativa al Feed:</b><br><br>
        <%= image_tag(feed.feed_image_url, :width => 380 , :height => 220) %>
      <% end %>
      <b>Testo del Feed:</b><br><br>
      <%= feed.feed_text %><br><br>
      <b>Data di pubblicazione:</b><br><br><%= feed.date %><br><br>
      <%= link_to 'Mostra', feed %>
      
      <% if feed.user_id == current_user.id %>
        <%= link_to 'Modifica', edit_feed_path(feed) %>
        <%= link_to 'Elimina', feed, method: :delete, data: { confirm: 'Sei sicuro?' } %>
      <% end %>
      
      <a href="http://localhost:3000">Torna all'inizio</a><br>
    </div>
  <% end %>
  </body>
    
  <br><br>
    
  <div class="sheet">
    <%= link_to 'Nuovo Feed', new_feed_path %>
  </div>
  
</html>
