<!DOCTYPE html>
<html>

  <head>
    <title>La Grande Guerra</title>
  </head>  

  <body>
  
    <div class="dialog">
      <div class="title">
        <h1><b>La Grande Guerra</b></h1>
      </div>
      
        <% if notice %>
          <p align="center"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p align="center"><%= alert %></p>
        <% end %>
         
      <%= render 'form' %>
    </div>
        
    <% if !@feeds.present? %>
    <div class="document">
      <div class="title">
        <h1><b>Benvenuto</b></h1>
      </div>
      
      <div class="text">
        <div class="post-text"> 
          <b>
          Tutti i vizi di tutte le età e di tutti i paesi del globo riuniti assieme, 
          non eguaglieranno mai i peccati che provoca una sola campagna di guerra.
          </b>
          <h1 align="right">cit Voltaire</h1>
        </div>
      </div>
    </div>
    <% else %>
      <% @feeds.reverse_each do |feed| %>
      <% read_usr = User.find(feed.user_id) %>

      <div class="document">
              
        <% if read_usr.profile_image.present? %>
        <div class="image-box">
          <%= image_tag(read_usr.profile_image_url, :width => 75 , :height => 75) %>
        </div>
        <% end %>
 
        <div class="dochead">
          <span class="dhead"><%= read_usr.user_name %></span>
        </div>
                
        <div class="post-date">
          <% if feed.has_been_published == true %>
            Pubblicato in data: <%= feed.date %>
          <% else %>
            Da pubblicare in data: <%= feed.date %>
          <% end %>
        </div>
                                
        <% if feed.feed_image.present? %>
          <div align="center">
            <%= image_tag(feed.feed_image_url, :height => 320 , :width => 420) %>
          </div>
        <% end %>

        <div class="post-text">
          <%= feed.feed_text %>
        </div>
                            
        <div class="bubble">
          <%= link_to 'Mostra', feed %>
        
          <% if feed.user_id == current_user.id and feed.has_been_published == false %>
            | <%= link_to 'Modifica', edit_feed_path(feed) %> |
            <%= link_to 'Elimina', feed, method: :delete, data: { confirm: 'Sei sicuro?' } %>
         <% end %>
        </div>
                  
      </div>
      <% end %>
    <% end %>
  
  </body>
        
</html>
