<h1>Listing feeds</h1>

<table>
  <thead>
    <tr>
      <th>Feed text</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% if admin? %>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.feed_text %></td>
        <td><%= feed.date %></td>
	
        <td><%= link_to 'Show', feed %></td>
        <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
        <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feed', new_feed_path %>
