<!DOCTYPE html>

<html>

  <head>
    <title>Nuovo Feed</title>
  </head>
  
  <body>
    
    <table border="0" class="header">
      <tr>
        <th id="logo">
          <a href="<%= @current_host %>"><%= image_tag("logo.png") %></a>
        </th>
        <th id="spacer"><!--inserire la barra di ricerca--></th>
        <th id="buttons">
          <a href="<%= @current_host %>" id="activeButton" name="Hlink">Home</a>
          <a href="<%= @current_host %>/profile" name="Hlink">Profilo</a>
          <a href="<%= edit_user_registration_path %>" name="Hlink">Impostazioni</a>
          <%= link_to 'Esci', destroy_user_session_path, method: :delete %>
        </th>
      </tr>
    </table>
    	
    <div class="container">
      
      <div class="groundSheet">
        <div class="homeTitle">
          Nuovo feed
        </div>
      
        <% if notice %>
          <p align="center"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p align="center"><%= alert %></p>
        <% end %>
         
        <%= render 'form' %>
      
        <div class="bubble">
          <%= link_to 'Indietro', :back %>
        </div>
      </div>
    
    </div>
	</body>

</html>
