<!DOCTYPE html>
<html>
  
  <head>
    <title>Profilo</title>  
  </head>
    
  <body>
    
    <div class="dialog">
    
      <div class="title">
        <h1><b>Ciao <%= current_user.user_name %>!</b></h1>
      </div>
      
        <% if notice %>
          <p align="center"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p align="center"><%= alert %></p>
        <% end %>
        
      <%= render 'form' %>
    </div> 
  
    <% control_feed=0 %>
    <% @feeds.reverse_each do |feed| %>
      <% if feed.user_id == current_user.id %> 
        <% control_feed=1 %>

        <div class="document">
            
          <div class="dochead">
            <span class="dhead"><%= current_user.user_name %></span>
          </div>
                
          <div class="post-date">
            <% if feed.has_been_published == true %>
              Pubblicato in data: <%= feed.date %>
            <% else %>
              Da pubblicare in data: <%= feed.date %>
            <% end %>
          </div>
                
          <% if feed.feed_image.present? %>
            <div id="<%= feed.id %>" onclick="Expand_Image(<%= feed.id %>)" class="feed-image-box">
              <%= image_tag(feed.feed_image_url) %>
            </div>
          <% end %>

          <div class="dcontent">
            <div class="post-text">
              <%= feed.feed_text %>
            </div>
          </div>
           
          <div class="bubble">
            <%= link_to 'Mostra', feed %>
            <% if feed.has_been_published == false %>
              | <%= link_to 'Modifica', edit_feed_path(feed) %> |
              <%= link_to 'Elimina', feed, method: :delete, data: { confirm: 'Sei sicuro?' } %>
            <% end %>
          </div>
        </div>

      <% end %>
    <% end %>
  
    <% if control_feed==0 %>
    <div class="document">
      <div class="title" align="center">
        <h1><b>Benvenuto nel tuo profilo!</b><h1>
      </div>
      <div class="post-text">  
        <b>
        Tutti gli uomini in fondo desiderano la guerra. Essa porta con sé una semplificazione di tutto, 
        che gli uomini sentono come sollievo. Tutti trovano che la vita è troppo complicata.
        </b>
        <h1 align="right">cit Pär Lagerkvist</h1>
      </div>
    </div>
    <% end %> 

  </body>
  
</html>

