<html>
  
  <head>
    <title>Profilo</title>
    <style type="text/css">body {background-image: url(<%= asset_path 'background.jpg' %>);}</style>   
  </head>
  
  <div class="dialog">
    <h1><b>Ciao <%= current_user.user_name %>!</b></h1>
    <% if current_user.profile_image.present? %>
      <%= image_tag(current_user.profile_image_url, :width => 160 , :height => 100) %><br>
    <% end %>
  </div>
  
  <%= render 'form' %>
    
  <body>
  
    <% control_feed=0 %>
    <% @feeds.reverse_each do |feed| %>
      <% if feed.user_id == current_user.id %> 
        <% control_feed=1 %>
        
        <div class="f-sheet">
          <% if feed.feed_image.present? %>
            <b>Immagine relativa al Feed:</b><br><br>
            <%= image_tag(feed.feed_image_url, :width => 380 , :height => 220) %><br>
          <% end %>
          
          <b>Testo del Feed:</b><br><br>
          <%= feed.feed_text %><br><br>
          
          <% if feed.has_been_published == true %>
            <b>Pubblicato in data:</b><br><br>
          <% else %>
            <b>Da pubblicare in data:</b><br><br>
          <% end %>
          
          <%= feed.date %><br><br>
          
          <%= link_to 'Mostra', feed %>
          
          <% if feed.has_been_published == false %>
              <%= link_to 'Modifica', edit_feed_path(feed) %>
          <% end %>
          
          <%= link_to 'Elimina', feed, method: :delete, data: { confirm: 'Sei sicuro?' } %>
        </div>
      <% end %>
    <% end %>
  
    <% if control_feed==0 %>
      <div class="f-sheet">
        <h1><b>Benvenuto nel tuo profilo!</b></h1>
        <br>
        <b>
          Tutti gli uomini in fondo desiderano la guerra. Essa porta con sé una semplificazione di tutto, 
          che gli uomini sentono come sollievo. Tutti trovano che la vita è troppo complicata.
        </b>
        <br>
        <h1 align="right">cit Pär Lagerkvist</h1>
      </div>
    <% end %>

  </body>
  
</html>

