
    <title>Profilo</title>  
  </head>
    
  <body>
    
    <table border="0" class="header">
      <tr>
        <th id="logo">
          <a href="<%= @current_host %>"><%= image_tag("logo.png") %></a>
        </th>
        <th id="spacer"><!--inserire la barra di ricerca--></th>
        <th id="buttons">
          <a href="<%= @current_host %>" name="Hlink">Home</a>
          <a href="<%= @current_host %>/profile" id="activeButton" name="Hlink">Profilo</a>
          <a href="<%= edit_user_registration_path %>" name="Hlink">Impostazioni</a>
          <%= link_to 'Esci', destroy_user_session_path, method: :delete %>
        </th>
      </tr>
    </table>
    
    <div class="container">
    
      <div class="groundSheet">
        <div class="homeTitle">
          Ciao <%= current_user.user_name %>!
        </div>
      
          <% if notice %>
            <p align="center"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p align="center"><%= alert %></p>
          <% end %>
        
        <%= render 'form' %>
      </div> 
  
      <% control_feed=0 %>
      <% @feeds.reverse_each do |feed| %>
        
        <% if feed.user_id == current_user.id %> 
          <% control_feed=1 %>

          <div class="groundSheet">
            
            <div class="postHead">
              <%= current_user.user_name %>
            </div>
                
            <div class="postDate">
              <% if feed.has_been_published == true %>
                Pubblicato in data: <%= feed.date.in_time_zone("CET").strftime('%d/%m/%Y %H:%M') %>
              <% else %>
                Da pubblicare in data: <%= feed.date.in_time_zone("CET").strftime('%d/%m/%Y %H:%M') %>
              <% end %>
            </div>
                
            <% if feed.feed_image.present? %>
              <div id="<%= feed.id %>" onclick="Expand_Image(<%= feed.id %>)" class="feedImage">
                <%= image_tag(feed.feed_image_url) %>
              </div>
            <% end %>

            <div class="postText">
              <%= feed.feed_text %>
            </div>
            
            <% if feed.feed_text_english.present? %>
              <div class="engPostText">
                <%= feed.feed_text_english %>
              </div>
            <% end %>
           
            <div class="bubble">
              <%= link_to 'Mostra', feed %>
              <% if feed.has_been_published == false %>
                | <%= link_to 'Modifica', edit_feed_path(feed) %> |
                <%= link_to 'Elimina', feed, method: :delete, data: { confirm: 'Sei sicuro?' } %>
              <% end %>
            </div>
            
        </div>

        <% end %>
      <% end %>
  
      <% if control_feed==0 %>
      <div class="groundSheet">
        <div class="homeTitle" align="center">
          Benvenuto nel tuo profilo!
        </div>
        
        <div class="homeTextRx">  
          <p align="center">
            Tutti gli uomini in fondo desiderano la guerra.<br><br>Essa porta con sé una semplificazione di tutto,<br> 
            che gli uomini sentono come sollievo.<br><br>Tutti trovano che la vita è troppo complicata.
          </p>
          <h1 align="right">cit Pär Lagerkvist</h1>
        </div>
      </div>
      <% end %> 
    
    </div>
  </body>
  
</html>

