<html>
  
  <head>
    <title>Visualizza Feed</title>
    <style type="text/css">body { background-image: url(<%= asset_path 'background.jpg' %>);}</style>
  </head>
  
  <body>

    <div class="dialog">
      <div class="title">
        <h1><b>Visualizza Feed:</b></h1>
      </div>
    </div>
		
    <div class="document">
      <% read_usr = User.find(@feed.user_id) %>
      
        <% if read_usr.profile_image.present? %>
          <div class="image-box">
            <%= image_tag(read_usr.profile_image_url, :width => 75 , :height => 75) %>
          </div>
        <% end %>

        <% if @feed.user_id == current_user.id %>
          <div class="my-dochead">
        <% else %>
          <div class="dochead">
        <% end %> 
            <span class="dhead"><%= read_usr.user_name %></span>
          </div>
                
        <div>
          <span class="post">
            <% if @feed.has_been_published == true %>
              Pubblicato in data: <%= @feed.date %>
            <% else %>
              Da pubblicare in data: <%= @feed.date %>
            <% end %>
          </span>
        </div>
                
        <% if @feed.feed_image.present? %>
          <br><br>
          <div align="center">
            <%= image_tag(@feed.feed_image_url, :height => 400) %><br>
          </div>
        <% end %>

        <div class="dcontent">
          <div class="text">
            <%= @feed.feed_text %>
          </div>
        </div><br> 
    
    
    
      <% if @feed.user_id == current_user.id and @feed.has_been_published == false %>
        <div class="my-bubble" align="center">
        <%= link_to 'Modifica', edit_feed_path(@feed) %> 
      <% else %>
        <div class="bubble" align="center">       
      <% end %>  
        
      <%= link_to 'Indietro', :back %>
    </div>
  </div>
  </body>
  
</html>
