<html>
  
  <title>Visualizza Feed</title>
  
  <body>

    <div class="dialog">
		  <h1><b>Visualizza Feed:</b></h1>
		</div>
		
		<div class="sheet">
		  <% if @feed.feed_image.present? %>
        <b>Immagine relativa al Feed:</b><br><br>
        <%= image_tag(@feed.feed_image_url, :width => 390 , :height => 200) %>
      <% end %>
		  <h3><b>Feed:</b></h3>
      <%= @feed.feed_text %>
      <h3><b>Data di pubblicazione:</b></h3>
      <%= @feed.date %><br><br>  
    </div>
    
    <div class="sheet">
      <% if @feed.user_id == current_user.id %>
        <%= link_to 'Modifica', edit_feed_path(@feed) %> |        
      <% end %>  
        
      <%= link_to 'Indietro', feeds_path %>
    </div>
    
    
  </body>
  
</html>
