<!DOCTYPE html>
<html>

  <head>
    <title>Modifica Profilo</title>
  <head>
  
  <body>
    <div class="dialog">
      <div class="title">
        <h1>Modifica Profilo<h1>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
        <% if current_user.profile_image.present? %>
          <div id="<%= current_user.id %>" onclick="Expand_Image(<%= current_user.id %>)" class="feed-image-box">
            <%= image_tag(current_user.profile_image_url) %>
          </div>
        <% end %>
        
        <p>    
          <b>Cambia immagine del profilo:</b><br>
          <%= f.file_field :profile_image %>
        </p>
        <br>
        <p>    
          <b>Cambia nome:</b><br>
          <%= f.text_field :user_name, autofocus: true ,autocomplete: "off" %>
        </p>

        <p>    
          <b>Cambia e-mail:</b><br>
          <%= f.email_field :email %>
        </p>
    
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <br>
        <p>    
          <b>Password: <i>(Lascia in bianco se non desideri cambiarla)</i></b><br>
          <%= f.password_field :password, autocomplete: "off"%>
        </p>

        <p>    
          <b>Conferma password:</b><br>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </p>
        <br>
        <p>    
          <b>Password attuale: <i>(necessaria per confermare i cambiamenti)</i></b><br>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </p>

        <p>
        <%= f.submit "Conferma" %> 
        </p>
        
      <% end %>
      <br>
      <p>
        <b>
          Non sei soddisfatto?
          <u>
            <%= link_to "Elimina il mio account", registration_path(resource_name), data: { confirm: "Sei sicuro?" }, method: :delete %>
          </u>
        </b>
      </p>
      
    </div>
    
  </body>

</html>
