<html>

<title>Modifica Profilo</title>

  <style type="text/css">
    body
    {
      background-image: url(<%= asset_path 'background.jpg' %>);
    }
  </style>

<div class="dialog">
  <h1>Modifica Profilo<h1>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="sheet" align="center">
    <h4>e-mail:</h4>
    <%= f.email_field :email, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <h4>password: <i>(Lascia in bianco se non desideri cambiarla)</i></h4>
    <%= f.password_field :password, autocomplete: "off" %>

    <h4>conferma password:</h4>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>

    <h4>password attuale: <i>(necessaria per confermare i cambiamenti)</i></h4>
    <%= f.password_field :current_password, autocomplete: "off" %>
    <br><br>
    <%= f.submit "Conferma" %>
  </div>
<% end %>

<div class="sheet">
  <h3>Elimina il mio account</h3>
  <%= button_to "Elimina", registration_path(resource_name), data: { confirm: "Sei sicuro?" }, method: :delete %><br>
  <%= link_to "indietro", :back %>
</div>

</html>
