<!DOCTYPE html>
<html>

  <head>
    <title>Iscriviti</title>
  </head>
  
  <body>
    
    <div class="header">
      <div class="h-left">
        <%= image_tag("logo.png") %>
      </div>
      <div class="h-right">
        <div class="home-link">
          <%= link_to 'Home', @current_host %>&nbsp
          <%= link_to 'Accedi', new_user_session_path %>
        </div>
      </div>
    </div>
   
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 
    <div id="wrapper">
	    <div class="login-form">
	    
	      <div class="title">
          <h1>Iscriviti</h1>
        </div>
        
        <% if notice %>
          <p align="center"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p align="center"><%= alert %></p>
        <% end %>
        
	      <%= devise_error_messages! %>
	      
		    <div class="content">
		      <%= f.text_field :user_name, autofocus: true, :placeholder => "Nome Pubblico" %>
		      <%= f.email_field :email, :placeholder => "e-mail"  %>
		      <%= f.password_field :password, :placeholder => "Password" , autocomplete: "off" %>
		      <%= f.password_field :password_confirmation, :placeholder => "Conferma password" , autocomplete: "off" %> 
		  </div>

		  <div class="footer">
		    <%= f.submit "Iscriviti" %>
		  </div>
	
	    </div>
    </div>
    
    <% end %>
  
  </body>
  
</html>
