<!DOCTYPE html>
<html>

  <head>
    <title>Iscriviti</title>
  </head>
  
  <body>
    
    <div class="header">
      <div class="h-left">
        <%= image_tag("logo.png") %>
      </div>
      <div class="h-right">
        <div class="home-link">
          <%= link_to 'Home', @current_host %>&nbsp
          <%= link_to 'Accedi', new_user_session_path %>
        </div>
      </div>
    </div>
 
    <div class="dialog">
      <div class="title">
        <h1>Iscriviti</h1>
      </div>
    
  
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      
        <%= devise_error_messages! %>
        <div class="text">
          <div class="form-box">
            <ul> 
              <li>
                <b>Nome pubblico:</b>
                <%= f.text_field :user_name, autofocus: true %>
              </li>
              <li>
                <b>E-mail:</b>
                <%= f.email_field :email %>
              </li>
              <li>
                <b>Password:</b>
                <%= f.password_field :password, autocomplete: "off" %>
              </li>
              <li>
                <b>Conferma password:</b>
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </li>
            </ul>
            <p align="center"><%= f.submit "Iscriviti" %></p>
          </div>
        </div>
      </div>
  
    <% end %>
  
  </body>
  
</html>
