<!DOCTYPE html>

<html>
  
  <head>
    <title>Iscriviti</title>
  </head>
  
  <body>
  
    <table border="0" class="header">
      <tr>
        <th id="logo">
          <a href="<%= @current_host %>"><%= image_tag("logo.png") %></a>
        </th>
        <th id="spacer"><!--inserire la barra di ricerca--></th>
        <th id="buttons">
          <a href="<%= @current_host %>">Home</a>
          <a href="<%= new_user_session_path %>">Accedi</a>
          <a href="<%= new_user_registration_path %>" id="activeButton">Iscriviti</a>
        </th>
      </tr>
    </table>
     
    <div class="container">
	  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  	    
	    <div class="loginForm">
	      <div class="homeTitle">
          Iscriviti
        </div>
        
        <% if notice %>
          <p align="center"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p align="center"><%= alert %></p>
        <% end %>
        
	      <%= devise_error_messages! %>
	      
		    <ul>  
		      <li>
		        <%= f.text_field :user_name, autofocus: true, :class => "field", :placeholder => " Nome Pubblico" %>
		      </li>
		      <li>
		      <%= f.email_field :email, :class => "field", :placeholder => " Indirizzo e-mail"  %>
		      </li>
		      <li>
		      <%= f.password_field :password, :class => "field", :placeholder => " Password" , autocomplete: "off" %>
		      </li>
		      <li>
		      <%= f.password_field :password_confirmation, :class => "field", :placeholder => " Conferma password" , autocomplete: "off" %>
		      </li> 
		    </ul>

		    <div class="footer">
		    	<p style="margin: 0 0 2.5% 0; padding: 0; font-weight: bold; font-size: 11px;">
		    	  Procedendo invieremo una e-mail di conferma all'indirizzo fornito
		    	</p>
		      <%= f.submit "Procedi", :class => "button" %>
		    </div>
      </div> 
         
    <% end %>    
    </div>
  </body>
  
</html>
