<html>
  <head>
    <title>Tutti i Feeds</title>

    <style type="text/css">

      body
      {
        background-image: url(<%= asset_path 'background.jpg' %>);
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;
        font-family:Courier,Arial;
        color:black;
      }

      h1
      {
        font-family: Impact;
        color:black;
        font-size: 200%
      }

      th
      {
        font-family:Courier,Arial;
        color:black;
        font-size: 200%
      }
      
      td
      {
        font-family:Courier,Arial;
        color:black;
        font-size: 200%
      }

      table.fixed 
      { 
        table-layout:fixed; 
      }

      table.fixed td { overflow: hidden; }

    </style>  
  </head>
  <body>
		<h1><br><br>Ti sei dimenticato la password?</h1>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div><%= f.label :email %><br />
		  <%= f.email_field :email, autofocus: true %></div>

		  <div><br><%= f.submit "invia email per nuova password" %><br></div>
		<% end %>
</body>
<p>
<%= render "devise/shared/links" %>
</p>

</html>
