<!DOCTYPE html>

<html>

  <head>
    <title>Dimenticato la password?</title>
  </head>

  <body>
  
    <table border="0" class="header">
      <tr>
        <th id="logo">
          <a href="<%= @current_host %>"><%= image_tag("logo.png") %></a>
        </th>
        <th id="spacer"><!--inserire la barra di ricerca--></th>
        <th id="buttons">
          <a href="<%= @current_host %>">Home</a>
          <a href="<%= new_user_session_path %>" id="activeButton">Accedi</a>
          <a href="<%= new_user_registration_path %>">Iscriviti</a>
        </th>
      </tr>
    </table>
    
    <div class="container">
      
      <div class="groundSheet">
		    <div class="homeTitle">
          Dimenticato la password?
        </div>

	      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

          <%= devise_error_messages! %>
          
          <ul align="center" style="font-weight: bold;">
            <li>
              Invieremo un e-mail all'indirizzo che ci fornirai
              che ti permettera' di recuperare la password.
            </li> 
            <li>
              <%= f.email_field :email, autofocus: true, :class => "field", :style => "width: 45%;", :placeholder => "E-mail" %>
            </li>
            <li>
              <%= f.submit "Invia e-mail", :class => "button" %>
            </li>
          </ul>
          
          <%= link_to 'Indietro', :back, :class => "bubble" %>
        <% end %>
    
    </div>
  </body>

</html>
