<html>

  <title>Dimenticato la password?</title>

    <style type="text/css">
      body
      {
        background-image: url(<%= asset_path 'background.jpg' %>);
      }
    </style>

<body>
		<div class="dialog">
		  <h1>Hai dimenticato la password?</h1>
		</div>

	  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		<%= devise_error_messages! %>

  <div class="sheet">
      <h3>e-mail:</h3>
      <%= f.email_field :email, autofocus: true %><br><br>
      <%= f.submit "Invia email" %><br>
  </div>
		<% end %>
</body>

</html>
