<!DOCTYPE html>
<html>

  <head>
    <title>Dimenticato la password?</title>
  </head>

<body>
	
    <div class="dialog">
		  <div class="title">
        <h1>Dimenticato la password?</h1>
      </div>
		</div>

	  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <div class="document">
      <%= devise_error_messages! %>
      <div class="text">
        <div class="form-box">
          <h3 align="left">
            Invieremo un e-mail all'indirizzo che ci fornirai
            che ti permettera' di recuperare la password.
          </h3> 
          <ul> 
            <li>
              <h3>e-mail:</h3>
              <%= f.email_field :email, autofocus: true %>
            </li>
          </ul>
        <p align="center"><%= f.submit "Invia e-mail" %> | <%= link_to 'Indietro', :back %></p>
      </div>
		<% end %>

</body>

</html>
