<!DOCTYPE html>
<html>

  <head>
    <title>La Grande Guerra</title>
    <style type="text/css"> body {background-image: url(<%= asset_path 'background.jpg' %>);}</style>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53020835-1', 'auto');
      ga('send', 'pageview');

    </script>

  </head>  

  <body>
    <div class="header">
      <div class="h-left">
        <%= image_tag("logo.png") %>
      </div>
      <div class="h-right">
        <div class="home-link">
          <%= link_to 'Home', @current_host %>&nbsp
          <a href="#about">Chi Siamo</a>&nbsp
          <a href="#tech">Tecnologia</a>&nbsp  
          <%= link_to 'Accedi', new_user_session_path %>&nbsp
          <%= link_to "Iscriviti", new_user_registration_path %>
        </div>
      </div>
    </div>
  
    <div class="dialog">
      <div class="home-title-lx">
        <h1><b>Home</b></h1>
      </div>
      
      <div class="home-text-rx">
        <b><i><h4 align="center">
        Quando un popolo non ha più senso vitale del suo passato si spegne.<br> 
        La vitalità creatrice è fatta di una riserva di passato.<br> 
        Si diventa creatori anche noi, quando si ha un passato.<br> 
        La giovinezza dei popoli è una ricca vecchiaia!
        </i></h4> 
        <h3 align="center">-cit Cesare Pavese</h3>
        100 anni fa aveva inizio una delle più grandi tragedie della Storia.<br> 
        Allo stesso tempo iniziava il processo che portò alla completa liberazione dell'Italia dalle potenze straniere, 
        e che avvenne grazie al sacrificio di una generazione di ragazzi appena maggiorenni.<br><br>
        Siamo ragazzi di 16-18 anni: vogliamo raccontare quegli anni, giorno per giorno, 
        facendo leva sulle nostre competenze di sviluppo informatico.<br> 
        In una situazione non felice per i giovani Italiani di oggi, abbiamo voluto creare una piattaforma tecnologica moderna 
        che ricordi le storie che portarono i nostri coetanei di allora ad affrontare e superare contro ogni aspettativa 
        un momento di crisi ben più grave.<br><br>

        Seguiteci sul nostro canale Twitter:<br> 
        <a href="https://twitter.com/lagrandeguerra" target="_blank">https://twitter.com/lagrandeguerra</a><br><br>
        Oppure contattateci all'indirizzo:<br>
        <a href="mailto:info@ragazzidel99.it">info@ragazzidel99.it</a>
        </b>
      </div>    
    </div>
    
    <div class="dialog">
      <div class="home-title-rx">
        <h1><b><a id="tech">Tecnologia</a></b></h1>
      </div>
      
      <div class="home-text-lx">
        <b><h4>
          Linux Ubuntu 14.04,&nbsp
          Apache 2.4,&nbsp
          Ruby 2.0,&nbsp
          Rails 4.0,&nbsp
          MySQL 5.5,&nbsp
          HTML5<br>
          Server su Amazon Web Services (AWS)<br><br>
          Visita il repository git:<br> 
          <a href="https://github.com/scoccia/Twistory" target="_blank">https://github.com/scoccia/Twistory</a>
        </b>
      </div>
    </div>
    
    <div class="dialog">
      <div class="home-title">
        <h1><b><a id="about">Chi Siamo</a></b></h1>
      </div>
      
      <div class="home-image-lx">
        <%= image_tag("vincenzo.jpg", :width => 75 , :height => 75) %>
      </div>
      <div class="home-head-lx">
        Vincenzo Di Nicola
      </div>
      <div class="home-grade-lx">
        Coordinatore<br> 
        Teramo (TE)<br>
        Classe 1979
      </div>
      
      <div class="home-image-rx">
        <%= image_tag("dadda_dc.jpg", :width => 75 , :height => 75) %>
      </div>
      <div class="home-head-rx">
        Davide Di Carlo
      </div>
      <div class="home-grade-rx">
        Sviluppatore<br> 
        Teramo (TE)<br>
        Classe 1997
      </div>
      
      <div class="home-image-lx">
        <%= image_tag("dadda_b.jpg", :width => 75 , :height => 75) %>
      </div>
      <div class="home-head-lx">
        Davide Barbieri
      </div>
      <div class="home-grade-lx">
        Sviluppatore<br> 
        Teramo (TE)<br>
        Classe 1997  
      </div>
      
      <div class="home-image-rx">
        <%= image_tag("simone.jpg", :width => 75 , :height => 75) %>
      </div>
      <div class="home-head-rx">
        Simone Coccia
      </div>
      <div class="home-grade-rx">
        Sviluppatore<br>
        Civitella del Tronto (TE)<br>
        Classe 1995  
      </div>
      
      <div class="home-image-lx">
        <%= image_tag("marco.jpg", :width => 75 , :height => 75) %>
      </div>
      <div class="home-head-lx">
        Marco Mazzoni
      </div>
      <div class="home-grade-lx">
        Sviluppatore<br> 
        Teramo (TE)<br>
        Classe 1995
      </div>
      
      <div class="home-image-rx">
        <%= image_tag("federico.jpg", :width => 75 , :height => 75) %>
      </div>
      <div class="home-head-rx">
        Federico Pomponii
      </div>
      <div class="home-grade-rx">
        Sviluppatore<br>
        Teramo (TE)<br>
        Classe 1997
      </div>             
    </div>
  
  </body>
        
</html>
