<!DOCTYPE html>
<html>

  <head>
    <title>La Grande Guerra</title>
    <style type="text/css"> body {background-image: url(<%= asset_path 'background.jpg' %>);}</style>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53020835-1', 'auto');
      ga('send', 'pageview');
    </script>

  </head>  

  <body>
    <div class="header">
      <div class="h-left">
        <%=link_to(image_tag("logo.png"), @current_host) %>
      </div>
      <div class="h-right">
        <div class="home-link">
          <%= link_to 'Home', @current_host %>&nbsp
          <a href="#about">Chi Siamo</a>&nbsp
          <a href="#tech">Tecnologia</a>&nbsp  
          <%= link_to 'Accedi', new_user_session_path %>&nbsp
          <%= link_to "Iscriviti", new_user_registration_path %>
        </div>
      </div>
    </div>
  
    <div class="dialog">
      <div class="home-title-lx">
        <h1><b>Home</b></h1>
      </div>
      
      <div class="home-text-rx">
        <b><i><h4 align="center">
        Quando un popolo non ha più senso vitale del suo passato si spegne.<br> 
        La vitalità creatrice è fatta di una riserva di passato.<br> 
        Si diventa creatori anche noi, quando si ha un passato.<br> 
        La giovinezza dei popoli è una ricca vecchiaia!
        </i></h4> 
        <h3 align="center">-cit Cesare Pavese</h3>
        100 anni fa aveva inizio una delle più grandi tragedie della Storia.<br> 
        Allo stesso tempo iniziava il processo che portò alla completa liberazione dell'Italia dalle potenze straniere, 
        e che avvenne grazie al sacrificio di una generazione di ragazzi appena maggiorenni.<br><br>
        Siamo ragazzi di 16-18 anni: vogliamo raccontare quegli anni, giorno per giorno, 
        facendo leva sulle nostre competenze di sviluppo informatico.<br> 
        In una situazione non felice per i giovani Italiani di oggi, abbiamo voluto creare una piattaforma tecnologica moderna 
        che ricordi le storie che portarono i nostri coetanei di allora ad affrontare e superare contro ogni aspettativa 
        un momento di crisi ben più grave.<br><br>

        Seguiteci sul nostro canale Twitter:<br> 
        <u><a href="https://twitter.com/lagrandeguerra" target="_blank">https://twitter.com/lagrandeguerra</a></u><br><br>
        Se volete collaborare (come storici o informatici) e/o avete documenti, foto, lettere che volete condividere, siete i benvenuti. Per favore contattateci a:<br>
        <u><a href="mailto:info@ragazzidel99.it">info@ragazzidel99.it</a></u>
        </b>
      </div>    
    </div>
    
    <h5>
      <span id="tech"> &nbsp; </span>
    </h5>

    <div class="dialog">
      <div class="home-title-rx">
        <h1><b><a>Tecnologia</a></b></h1>
      </div>
      
      <div class="home-text-lx">
        <b><h4>
          Linux Ubuntu 14.04,&nbsp
          Apache 2.4,&nbsp
          Ruby 2.0,&nbsp
          Rails 4.0,&nbsp
          MySQL 5.5,&nbsp
          HTML5<br>
          Server su Amazon Web Services (AWS)<br><br>
          Visita il repository git:<br> 
          <u><a href="https://github.com/scoccia/Twistory" target="_blank">https://github.com/scoccia/Twistory</a></u>
        </b>
      </div>
    </div>
    
    <h5>
      <span id="about"> &nbsp; </span>
    </h5>

    <div class="dialog">
     <div class="about-bg">
      <div class="home-title">
        <h1><b><a>Chi Siamo</a></b></h1>
      </div>
      
      <div class="home-image-lx">
        <%= image_tag("vincenzo.jpg", :width => 90 , :height => 90) %>
      </div>
      <div class="home-head-lx">
        Vincenzo Di Nicola
      </div>
      <div class="home-grade-lx">
        <b>Coordinatore</b><br> 
        Teramo (TE)<br>
        Classe 1979<br>
	<iframe src="http://ghbtns.com/github-btn.html?user=vdinicola&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="200" height="20"></iframe><br>
	<iframe allowtransparency="true" frameborder="0" scrolling="0" src="//platform.twitter.com/widgets/follow_button.html?screen_name=dinicola&show_count=false" style="width:300px; height:20px;"></iframe>
      </div>
      
      <div class="home-image-rx">
        <%= image_tag("dadda_dc.jpg", :width => 90 , :height => 90) %>
      </div>
      <div class="home-head-rx">
        Davide Di Carlo
      </div>
      <div class="home-grade-rx">
        <b>Sviluppatore</b><br> 
        Teramo (TE)<br>
        Classe 1997
      </div>
      <div class="home-grade-rx">
        <iframe src="http://ghbtns.com/github-btn.html?user=davide-di-carlo&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="200" height="20"></iframe><br>
        <iframe allowtransparency="true" frameborder="0" scrolling="0" src="//platform.twitter.com/widgets/follow_button.html?screen_name=Davide_Di_Carlo&show_count=false" style="width:300px; height:20px;"></iframe>  
      </div>
      
      <div class="home-image-lx">
        <%= image_tag("dadda_b.jpg", :width => 90 , :height => 90) %>
      </div>
      <div class="home-head-lx">
        Davide Barbieri
      </div>
      <div class="home-grade-lx">
        <b>Sviluppatore</b><br> 
        Teramo (TE)<br>
        Classe 1997<br>
	<iframe src="http://ghbtns.com/github-btn.html?user=daddabarba&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="200" height="20"></iframe><br>
        <iframe allowtransparency="true" frameborder="0" scrolling="0" src="//platform.twitter.com/widgets/follow_button.html?screen_name=Davidozzo97&show_count=false" style="width:300px; height:20px;"></iframe>      
      </div>
      
      <div class="home-image-rx">
        <%= image_tag("simone.jpg", :width => 90 , :height => 90) %>
      </div>
      <div class="home-head-rx">
        Simone Coccia
      </div>
      <div class="home-grade-rx">
        <b>Sviluppatore</b><br>
        Civitella del Tronto (TE)<br>
        Classe 1995<br>
	<iframe src="http://ghbtns.com/github-btn.html?user=scoccia&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="200" height="20"></iframe>
      </div>
      
      <div class="home-image-lx">
        <%= image_tag("marco.jpg", :width => 90 , :height => 90) %>
      </div>
      <div class="home-head-lx">
        Marco Mazzoni<br>
      </div>
      <div class="home-grade-lx">
        <b>Sviluppatore</b><br> 
        Teramo (TE)<br>
        Classe 1995<br>
        <iframe src="http://ghbtns.com/github-btn.html?user=MarcoMazzoni&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="200" height="20"></iframe><br>
	<iframe allowtransparency="true" frameborder="0" scrolling="0" src="//platform.twitter.com/widgets/follow_button.html?screen_name=MarcoMazzoni9&show_count=false" style="width:300px; height:20px;"></iframe>
      </div>
      
      <div class="home-image-rx">
        <%= image_tag("federico.jpg", :width => 90 , :height => 90) %>
      </div>
      <div class="home-head-rx">
        Federico Pomponii
      </div>
      <div class="home-grade-rx">
        <b>Sviluppatore</b><br>
        Teramo (TE)<br>
        Classe 1997<br>
	<iframe src="http://ghbtns.com/github-btn.html?user=Federico-Pomponii&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="200" height="20"></iframe>
        <iframe allowtransparency="true" frameborder="0" scrolling="0" src="//platform.twitter.com/widgets/follow_button.html?screen_name=Fede_pomponii&show_count=false" style="width:300px; height:20px;"></iframe>      
      </div> 
     </div>            
    </div>

    <h1>
    </h1>

    <div class="dialog">
      Ringraziamo Ivan Berryman per la concessione dello sfondo di Francesco Baracca, e l'archivio digitale de "La Stampa"<br>
      2014 - Ragazzi del '99 - <a href="mailto:info@ragazzidel99.it">info@ragazzidel99.it</a>
    </div>
  
  </body>
        
</html>

