<html>

	<div class="dialog">
	  <h1>Accedi</h1>
  </div>
	
	<div class="form_box">
	  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <h4 align="right">
	    e-mail:
	    <%= f.email_field :email, autofocus: true %><br>
	  
	    password:
	    <%= f.password_field :password, autocomplete: "off" %><br>
	  </h4>
	  <%= f.submit "Accedi" %>
  </div>
	 
	<p>   
	  <% if devise_mapping.rememberable? -%>
	    <%= f.check_box :remember_me %> Mantieni aperto l'accesso<br>
	  <% end -%>
  
	<% end %>

	<%= render "devise/shared/links" %> 
	</p>
</html>
