<html>
  <head>
    <title>Nuovo utente</title>

    <style type="text/css">

      body
      {
        background-image: url(<%= asset_path 'background.jpg' %>);
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;
        font-family:Courier,Arial;
        color:black;
      }

      

      h1
      {
        font-family: Impact;
        color:black;
        font-size: 200%
      }

      th
      {
        font-family:Courier,Arial;
        color:black;
        font-size: 200%
      }
      
      td
      {
        font-family:Courier,Arial;
        color:black;
        font-size: 200%
      }

      table.fixed 
      { 
        table-layout:fixed; 
      }

      table.fixed td { overflow: hidden; }

    </style>  
  </head>
  <body align="centre">
	<h1><br><br>Accedi</h2>
   <p>
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, autofocus: true %></div>

	  <div><%= f.label :password %><br />
	    <%= f.password_field :password, autocomplete: "off" %></div>


	  <div><br><%= f.submit "Accedi" %></div>

	  <% if devise_mapping.rememberable? -%>
	    <div><br><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%>

	<% end %>
	</p>

	<%= render "devise/shared/links" %>
</html>
