<html>
  <title>Accedi</title>

  	<style type="text/css">
      body
      {
			  background-image: url(<%= asset_path 'background.jpg' %>);
		  }
	</style>

	<div class="dialog">
	  <h1>Accedi</h1>
  </div>
	
	<div class="sheet">
	  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <h4 align="right">
	    e-mail:
	    <%= f.email_field :email, autofocus: true %><br>
	  
	    password:
	    <%= f.password_field :password, autocomplete: "off" %><br>
	  </h4>
	  <%= f.submit "Accedi" %>
  </div>
	 
	<div class="sheet">  
	  <% if devise_mapping.rememberable? -%>
	    <%= f.check_box :remember_me %> Mantieni aperto l'accesso<br>
	  <% end -%>
  </div>
	<% end %>
</html>
