<!DOCTYPE html>
<html>

  <head>
    <title>Accedi</title>   
  </head>
  
  <body>
	
	  <div class="dialog">
      <div class="title">
        <h1>Accedi</h1>
      </div>
    

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
        <div class="text">
          <div class="form-box">
            <ul> 
              <li>
                <b>e-mail:</b>
                <%= f.email_field :email, autofocus: true %>
              </li>
              <li>
                <b>password:</b>
                <%= f.password_field :password, autocomplete: "off" %>
              </li>
              <br>
              <% if devise_mapping.rememberable? %>
                <li><%= f.check_box :remember_me %><b>Mantieni aperto l'accesso</b></li>
              <% end %>
            </ul>
            <p align="center"><%= f.submit "Accedi" %></p>
            <p align="center"><%= link_to "Dimenticato la password?", new_password_path(resource_name) %></p>
          </div>
        </div>
      </div>
               
      <% end %>  
        
  </body>
	
</html>
