<!DOCTYPE html>
<html>

<style type="text/css">

    div.sheet 
    {
      width: 30em;
      margin: 0 auto 1em;
      padding: 5px 2em 5px 2em;
      background-color: #F7F7F7;
      border: 1px solid #CCC;
      border-right-color: #999;
      border-bottom-color: #999;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-color: #DADADA;
      color: #444;
      box-shadow:0 3px 8px rgba(50, 50, 50, 0.17);
      font-family: Arial, Courier;
      text-align: center;
      word-wrap: break-word;
    }
    
    div.dialog 
    {
      width: 30em;
      margin: 8.5em auto 0 auto;
      padding: 5px 2em 3px 2em;
      border: 1px solid #CCC;
      border-right-color: #999;
      border-left-color: #999;
      border-bottom-color: #BBB;
      border-top: #B00100 solid 4px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background-color: white;
      color: #B00100;
      font-family: Arial, Courier;
      text-align: center;
      word-wrap: break-word;
    }

    div.toolbar
    {
      width: auto;
      height: auto;
      padding-bottom: 5px;
      background-color: #F7F7F7;
      border: 1px solid #CCC;
      border-right-color: #999;
      border-bottom-color: #999;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-color: #DADADA;
      color: #444;
      box-shadow:0 3px 8px rgba(50, 50, 50, 0.17);
      font-family: Arial, Courier;
      text-align: center;
      word-wrap: break-word;
      
      position: fixed;
      top: 0;
      left: 25%;
      right: 25%;
    }
    
    .text_box
    {
      width: 28em; 
      height: 10em;
    }
    
    body
    {
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family: Arial, Courier;
    }
    
    h1
		{
		  font-family: Arial, Courier;
		  color:black;
		  font-size: 170%;
		}
    
</style>  

<head>
  <%= favicon_link_tag "/favicon.ico" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<div class="toolbar">
<% if user_signed_in? %>
  Le tue credenziali sono: <strong><%= current_user.email %></strong><br>
  <%= link_to "Modifica profilo", edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Esci", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Accedi", new_user_session_path, :class => 'navbar-link'  %> |
  <%= link_to "Iscriviti", new_user_registration_path, :class => 'navbar-link'  %><br>
  <%= link_to "Hai dimenticato la password?", new_password_path(resource_name) %>
<% end %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
</div>


<%= yield %>

</html>
