<!DOCTYPE html>
<html>

  <head>
    <%= favicon_link_tag "/favicon.ico" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <style type="text/css"> body {background-image: url(<%= asset_path 'background.jpg' %>);}</style>
  </head>

  <div class="header">
    <div class="h-left">
      <%= image_tag("logo.png") %>
    </div>
    <% if user_signed_in? %>
      <div class="h-right">
        <div class="home-link">
          <%= link_to 'HOME', @current_host %>&nbsp
          <%= link_to 'PROFILO', '/profile' %>&nbsp
          <%= link_to 'IMPOSTAZIONI', edit_user_registration_path %>&nbsp
          <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% else %>
      <div class="h-right">
        <div class="home-link">
          <%= link_to 'BENVENUTO', @current_host %>&nbsp
          <%= link_to 'ACCEDI', new_user_session_path %>&nbsp
          <%= link_to "ISCRIVITI", new_user_registration_path %>&nbsp
          <%= link_to 'MISSIONE', '/mission' %>&nbsp
          <%= link_to 'CHI SIAMO', '/about' %>&nbsp          
        </div>
      </div>
    <% end %>
  </div>

<%= yield %>

</html>
