<!DOCTYPE html>
<html>

  <head>
    <%= favicon_link_tag "/favicon.ico" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <style type="text/css"> body {background-image: url(<%= asset_path 'background.jpg' %>);}</style>
  </head>

  <% if user_signed_in? %>
  <div class="header">
    <div class="h-left">
      <%= image_tag("logo.png") %>
    </div>
    <div class="h-right">
      <div class="home-link">
        <%= link_to 'Home', @current_host %>&nbsp
        <%= link_to 'Profilo', '/profile' %>&nbsp
        <%= link_to 'Impostazioni', edit_user_registration_path %>&nbsp
        <%= link_to 'Esci', destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </div>
  <% end %>
  
<%= yield %>

</html>
