<!DOCTYPE html>
<html>
<head>
  <title>La Grande Guerra</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>


<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Le tue credenziali sono: <strong><%= current_user.email %></strong>.
  <%= link_to 'Modifica profilo', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Esci", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Iscriviti", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Accedi", new_user_session_path, :class => 'navbar-link'  %>
<% end %>


<body>

  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>

<%= yield %>

</body>
</html>
